#conteneur{
  
    margin: auto;
   }
   #bloc1{
  
    position: relative;
    float: left;
   }
   #bloc2{
  
    position: relative;
    float: left;
   }
   h4{
       position :relative;
       float : left;
   }